<!--
Instructor Toby used to work at a super market as a cashier. His work experience there has made him an expert in making change.

Write an app to make the change needed - in quarters, dimes, nickels, and pennies - given the bill amount, and the given amount.

The app should have

1. A number input to enter the bill amount.
2. A number input to enter the given amount.
3. A "Make change!" button
4. When the "Make change!" button is clicked, it should display the number of coins for each coin type that are needed. For example:

  * 4 quarters
  * 3 dimes
  * 0 nickels
  * 2 pennies

5. Bonus, display the coin image next to the number
5. Extra super bonus: write this same app using jQuery or nothing but the DOM native API. Compare and contrast.

-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Making Change</title>
    <script src="angular.js"></script>
    <script>
    // <!-- write JS in here -->
      var app = angular.module('my-app', []);
      app.controller('MainController', function($scope) {

        $scope.makeChange = function() {
          var total = ($scope.givenAmt - $scope.billAmt).toFixed(2);
          $scope.message = 'Your change is $' + total;
        };

      });
    </script>
  </head>
  <body>
    <!-- write template code in here -->
    <div ng-app="my-app" ng-controller="MainController">
      <label>Bill amount: </label>
      <input type="number" ng-model="billAmt">
      <br>
      <label>Given amount: </label>
      <input type="number" ng-model="givenAmt">
      <br>
      <button ng-click="makeChange()">make change!</button>
      <br>
      {{message}}
    </div>
  </body>
</html>
